.body{
    padding    : 0;
    margin     : 0;
    font-family: Helvetica;
    
    

    
}

#header{
     position: fixed;
     top     : 0;
     left    : 0;
     z-index : 500;
     width   :100%;
     height  :80px;
     background-image  : url('images/background.jpg');
     
}

#header img{
     display: block;
     margin : auto;
     height : 80%;
     padding-top: 12px;
     width: 30%;
     
}
#tabs-top{
    position: fixed;
    top     : 80px;
    left    : 0;
    z-index : 400;
    width   : 100%;
    height  : 40px;
    background-color: darkred;
    
}

#tabs-top a{
    float   : left;
    display : block;
    width   : 25%;
    height  :35px;
    font-weight : 600;
    color       : white;
    text-align: center;
    text-decoration : none;
    padding-top     : 12px;
    padding: auto;
}
#tabs-bottom{
    position : fixed;
    bottom   : 0;
    left     : 0;
    z-index  : 500;
    width    : 100%;
    height   : 40px;
    background-color: darkred;
    
}

#tabs-bottom a{
   float : left;
   display : block;
   width : 25%;
   height : 35px;
   font-weight : 700;
   color       : white;
   text-align  : center;
   text-decoration : none;
   padding-top: 12px;
   
   
}

#main-home{
    margin-top: 120px;
}


#main{
    margin-top: 119px;
    background-repeat: repeat-y;
}

#content{
    padding-top: 1px;
    padding-bottom: 50px;
    background: url('images/background.jpg');
    
}
a.info-boxes,
a.info-box{
    text-decoration : none;
    background      : rgba(255, 255, 255, 0.8);
    width           : 90%;
    height          : 90px;
    display         : block;
    margin          : auto;
    margin-top      : 12px;
    padding         : 1px; 
}
.info-boxes img,
.info-box img{
    height : 70px;
    margin : 10px;
    float  : left;

}
.info-boxes h3,
.info-box h3{
    padding : 0;
    margin-bottom :0;
    width : 90%;
    color : #572800;
}
.info-boxes,
.info-box p{
    margin  : 0;
    padding : 0;
    width   : 90%;
    color   : 131313;
}
.info-boxes img.right,
.info-box img.right{
    float      : right;
    margin-top : 25px;
    height     :40px; 
}
/*=================== INFO BOX FULL ===================*/
#info-box-full{
    background-color : rgba(255, 255, 255, .8) ;
    width   : 90%;
    display : block;
    margin  : auto;
    margin-top : 12px;
    padding    : 10px;
}

#info-box-full img{
    width : 100%;
}
#info-box-full h3{
    text-align : center;
}
.info-box-1{
    
    
    width: 100%;
}
.info-box-1 img{
    height : 770px;
    padding-bottom: 10px;
    float  : left;
    width: 100%;
}
.info-box-2 img{
    height : 770px;
    float  : left;
    width: 100%;
    image-resolution: 100%;
}
.info-box-3 img{
    margin-top : 25px;
    height     :40px; 
}
#header-shop{
     top     : 0;
     left    : 0;
     width   :100%;
     height  :80px;
     padding-bottom: 20px;
     
     
     
     

}
#header-shop img{
    display: block;
    margin : auto;
    height : 90%;
    width: 10%;
   
}
#info-boxs img{
    height : 770px;
    float  : left;
    width: 100%;
    image-resolution: 100%;
}
#info-boxs{
    text-align: center;
}
table{
    padding-bottom: 26px;
}
h2
{
    text-align: center;
}
input,
textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, .199);
    margin-top: 5px;

}


#info-boxes img{
    height : 770px;
    float  : left;
    width: 100%;
    image-resolution: 100%;
}
#info-boxes{
    text-align: center;
}
h1{
    
    text-align: center;
    background-color: dimgrey;
}